// ===
// Dropdown
// ===
.el-input {
  &.isStyleBase {
    .el-input__inner {
      border-radius: 0;
      line-height: 60px;
      height: 60px;
      font-size: 2rem;
    }
  }
}

// ===
// Alert
// ===
.el-alert {
  &.isStyleBase {
    .el-alert__content {
      width: 100%;
    }
  }
}

